/* .navbar{display:flex; */


/* } */
.navbar-nav{
display: flex;
list-style: none;
justify-content: space-around;
background-color: white;
}
.navbar-nav a{
    text-decoration: none;
    color:black
} 
.home{
    display:flex;
    column-gap: 50px;
}
.navbar-brand{
    font-size:25px;
    font-weight: bold;

}